<?xml version='1.0' encoding='utf-8'?>
<robot name="SAMPLEBAG">
  <material name="silver">
    <color rgba="0.700 0.700 0.700 1.000" />
  </material>
  <gazebo>
    <plugin filename="libgazebo_ros_control.so" name="control" />
  </gazebo>
  <gazebo reference="base_link">
    <material>Gazebo/Silver</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <selfCollide>true</selfCollide>
    <gravity>true</gravity>
  </gazebo>
  <link name="base_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0.07729964264631403 0.30500000000000005 0.2702287767228582" />
      <mass value="33.06894752789176" />
      <inertia ixx="1.903588" ixy="0.0" ixz="-0.209256" iyy="0.808453" iyz="0.0" izz="1.355435" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="../meshes/base_link.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="silver" />
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="../meshes/base_link.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
</robot>